@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Ultra&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body{
  
  font-family: 'Kumbh Sans', sans-serif;
  /* font-family: 'Ultra', serif; */
  font-weight: 400, 700;
}

.container-1{
  background: linear-gradient(0deg,#6565e7, #af67e9);
  padding: 100px 250px;
  height: 100%;
}
.card{
  background-color: hsl(0, 0%, 100%);
  /* width: 100%; */
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 50px 50px 50px 0px;
  background-image: url("images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.faq{
  padding-left: 50px;
  /* min-width: 430px; */
}
.faq p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
h1{
  margin-bottom: 40px;
}

p:hover{
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.images{
  margin-left: -20px;
}
.img1{
  position: absolute;
  top: 300px;
  z-index: 9;
  left: 140px;
  /* position: relative; */
  
}
.img2{
  top: 10px;
  left: -50px;
  position: relative;
  
  
}
/* #checked{
  font-weight: 700;
} */
.container{
  border: none;
  background: linear-gradient(to right top,#6565e7, #af67e9 );
  /* linear-gradient(#6565e7, #af67e9) ; */
  position:absolute;
  left: -70px;
  height: 100px;
  width: 300px;
  top: 320px;
  z-index: 2;
}

.example{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 12px;
}
.example:hover{
  color: hsl(14, 88%, 65%);
}
.content{
  display: none;
  font-size: 12px;
  margin-bottom: 15px;
}
.example img{
  margin-left: 50px;
}
.attribution { 
  font-size: 11px; text-align: center;
margin-top: 30px; 
}
    .attribution a { color: hsl(228, 45%, 44%); }
 


@media screen and (max-width: 500px) {
  .container-1{
    padding: 20px;
  }
  .container{
    display: none;
  }
  .card{
    flex-direction: column;
    padding: 0px;
  }
  .faq{
    padding: 20px;
  }
  .img2{
    width: 100%;
  }
}